* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html{
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

/* nav bar */
.nav-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.nav-bar {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 0;
    padding: 6px;
    z-index: 2;
    padding: 10px 10px;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    display: block;

    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.05);
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links a {
    display: block;
    padding: 6px;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    color: #fff;

    transition: transform 0.3s ease-in-out;
}

.nav-links a:hover {
    transform: scale(1.05);
    text-decoration: underline;
    text-decoration-color: #f1f3f1;
    text-decoration-thickness: 2px;
    color: rgb(20, 173, 6);
}

/* home section */

.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    height: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
}

.content p {
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    max-width: 600px;
    width: 100%;
    padding-top: 30px;
    padding-right: 50px;
}

/* About section  */
.about-text {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #02a70b;
    text-decoration-thickness: 5px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(46, 46, 46);
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-content {
    display: flex;
    padding: 15px;
    justify-content: center;
    gap: 30px;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.about-content img {
    height: 350px;
    border-radius: 5px;
}

.about-heading {
    display: block;
}

.about-heading h3 {
    display: block;
    text-align: left;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #008f07;
    padding: 10px;
    padding-bottom: 35px;
    justify-content: center;
}

.about-heading p {
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    justify-content: center;
}

/* Footer */
footer {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color: #fff;
}


footer {
    background-color: #222222;
    padding-top: 50px;
}

.footer-container {
    width: 100%;
    max-width: 75rem;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
}

.footer-content h3 {
    color: #008f07;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 195px;
    margin: auto;
    padding: 7px;
    padding-left: 55px;
    padding-right: 42px;
}

.footer-content ul {
    text-align: center;
    list-style: none;
}

.links1 {
    margin-right: 29px;
}

.list {
    padding: 0;
}

.list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #008f07;
    transition: .5s;
}

.list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #008f07;
}

.social-icons i:hover {
    color: #008f07;
}

.bottom-bar {
    background-color: #00a008;
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
}

.bottom-bar p {
    color: #343434;
    margin: 0;
    font-size: 16px;

    padding: 7px;
}

/* Information Boxes */
.box-container {
    width: 100%;
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 0 20px;
}

.box {
    flex: 1;
    border: 2px solid #00a008;
    text-align: center;
    padding: 40px 20px;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
}

.box-container .box:hover {
    transform: translateY(-35px);
    box-shadow: 0 12px 25px rgba(0, 160, 8, .2);
}

.box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 20px;
}

.box h3 {
    color: #00a008;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.box p {
    color: #9c9c9c;
    font-size: 2rem;
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.gallery img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.gallery img:hover{
    transform: scale(1.05);
}

.column{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media only screen and (max-width:770px){
    .gallery{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

















/* Tablet */
@media (max-width:992px) {

    .box-container {
        flex-wrap: wrap;
    }

    .box {
        flex: 1 1 calc(50% - 20px);
    }
}

/* Mobile */
@media (max-width:576px) {

    .box {
        flex: 1 1 100%;
    }

    .box h3 {
        font-size: 1.8rem;
    }

    .box p {
        font-size: 1.5rem;
    }
}