* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
    list-style: none;
}

body {
    background-color: #e0e0e0;
    overflow-x: hidden;
}

header {
    width: 100%;
}

.nav-container {
    display: flex;
    position: absolute;
    z-index: 9999;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #272626;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 10px;
}

.logo img {
    display: block;
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    position: relative;
    color: #0ccf9e;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #0ccf9e;
    transition: all .3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: #ec4949;
}

/* Work text section */
.work-section {
    width: 100%;
    height: 400px;
    background-image: url(/Assets/Branding\ and\ designs/designer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.work-section h1 {
    position: relative;
    color: #f3faf8;
    font-size: 38px;
    font-family: "Poppins", sans-serif;
}

.work-section h3 {
    color: #f3faf8;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.work-section p {
    color: #f3faf8;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

/* Work SUBUTITLE */

.work-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.work-line {
    width: 190px;
    height: 2px;
    background: #ec4949;
    flex-shrink: 0;
}

.text-wrapper {
    color: #0ccf9e;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

#changingText {
    display: inline-block;
    animation: slideText 2.5s linear infinite;
}

@keyframes slideText {
    0% {
        transform: translateX(120px);
    }

    100% {
        transform: translateX(-150px);
    }
}

/*  work images section */
.work {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 20px;
}

/* work 1 */
.work1 {
    display: flex;
    margin: 10px;
    gap: 60px;
}

.work1 img {
    width: 100%;
    padding: 0px;
    border: blue;
    border-radius: 5px;
    transition: .3s ease;
}

.work1 img:hover {
    transform: scale(1.05);
}

/* work 2 */
.work2 {
    display: block;
    margin: 10px;
}

.work2 img {
    width: 100%;
    border-radius: 5px;
    transition: .3s ease;
}

.work2 img:hover {
    transform: scale(1.05);
}

/* work 3 */
.work3 {
    display: flex;
    gap: 60px;
    margin: 20px;
}

.work3 img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: .3s ease;
}

.work3 img:hover {
    transform: scale(1.05);
}

/* work 4 */
.work4 {
    display: flex;
    margin: 20px;
    gap: 40px;
}

.work4 img {
    width: 100%;
    border-radius: 5px;
    transition: .3s ease;
}

.work4 img:hover {
    transform: scale(1.05);
}



/* See More Btn
.see-more-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#seeMoreBtn {
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    background: #111;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

#seeMoreBtn:hover {
    transform: translateY(-3px);
    opacity: 0.85;
} */